/* Navbar  */
.header_wrapper .navbar{
    padding: 10px 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    background: #1c2e4a;

/* .header_wrapper .navbar-brand img{
    max-width: 60px;
    height: auto;
} */

/* .header_wrapper .navbar-toggler{ */
    border: 0;
    color: #fff;
    line-height: 2;
}
.header_wrapper .navbar-toggler:focus{
    box-shadow: none;
}
.header_wrapper .nav-item{
    margin: 0 14px;
}
.header_wrapper .nav-item .nav-link{
    position: relative;
    font-size: 16px;
    color: #fff;
    display: inline-block;
}
.header_wrapper .nav-item .nav-link::after{
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    color: #fff;
    transition: 0.3s;
    bottom: 0;
}
.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after{
    width:100% ;
}
.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover{
    color: #ccc;
}

.header-scrolled{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1c2e4a
    
}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
    color: #fff;
}

/* butons  */

.button{
    border: 1px solid #fff;
    padding: 8px 12px;
    color: #fff;
    text-decoration: none;
}
.button:hover{
    color: rgba(234, 223, 223, 0.406);
    border: 1px solid rgba(234, 223, 223, 0.581) ;
}

.button-2{
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    background: #fff;
    font-weight: 400;
    border: none;
}.button-2:hover{
    background: rgba(234, 223, 223, 0.214);
    color: rgba(234, 223, 223, 0.406);
}

.login-btn{
    text-decoration: none;
    color: #fff;
}
.login-btn:hover{
    color: rgba(234, 223, 223, 0.406);

}



.custom-btn-color{
    background: #0774d5;
}


.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

 
.h-custom {
height: 100vh;

}


    /* Footer  */
    .footer{
        height: 50vh;
        width: 100%;
        background: #1c2e4a;
        color: whitesmoke;
        font-size: 14px;
    }
    
    .footer a{
    color: whitesmoke;
    
    }

